In [1]:
import pandas as pd

df = pd.read_csv("./Data/BA_reviews.csv")
df.head()

   Unnamed: 0                                            reviews
0           0  ✅ Trip Verified | Worst BA experience. I was s...
1           1  ✅ Trip Verified |  My daughter and I were deni...
2           2  ✅ Trip Verified | Despite boarding being the u...
3           3  Not Verified |  Flight cancelled, no crew! 9th...
4           4  Not Verified |  The worst service ever, my bag...

In [3]:
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

                                             reviews
0  ✅ Trip Verified | Worst BA experience. I was s...
1  ✅ Trip Verified |  My daughter and I were deni...
2  ✅ Trip Verified | Despite boarding being the u...
3  Not Verified |  Flight cancelled, no crew! 9th...
4  Not Verified |  The worst service ever, my bag...